/* styles global */

/*
  4F000B (rouge maron)
  FF715B (rose saumon)
  88A096 (sauje gris)
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: black;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    background-color: #88A096;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    background-color: #88A096;
}

main {
    padding: 1em;
    display :flex;
    flex-direction : column;
    justify-content: center;
    height: 100%;
}

h2 {
    margin: auto;
    color: #4F000B;
}

form {
    margin: auto;
}

/* styles base.html */
.logo {
    display : flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
}

.logo__img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.ref {
    list-style: none;
    padding: 0;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ref__line{
    display: inline;
    margin-right: 1em;
    
}

.ref__line__link{
    color: #f9f9f9;
    text-decoration: none;
}

.ref__line__link:focus, .ref__line__link:active{
    color: #4F000B;
}

/* styles gestion.html */

.gestion {
    width: 50%;
    margin:auto;
}

.gestion__title {
    margin: 1em auto;
}

.ad-form {
    padding: 1em 3em;
    border-radius: 10px;
    border: solid #FF715B 2px;
    display: flex;
    flex-direction: column;
}

.ad-form__element {
    width: 100%;
    border-radius: 1px;
    margin-top: 1px;
}

.ad-form__element:focus {
    background-color: #88A096;
}

.ad-form__btn{
    margin: auto;
    color: #f9f9f9;
    background-color: #4F000B;
    border-radius: 5px;
    padding: 5px  10px;
}

/* styles home.html */

.art-link {
    list-style: none;
    display: flex;
    margin :20px auto;
}

.art-link__link { 
    border-radius: 6px;
    border : solid #FF715B 2px;
    margin-right: 3px;
    padding: 2px 5px;
}

.art-link__link:focus, .art-link__link,.art-link__link:active {
    text-decoration: none;
    color: black;
}

.art-grid {
    list-style: none;
    padding: 0;
}

.art-grid__cpt {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
}

.art-grid__element{
    height: 300px;
    border-radius: 5px;
    border: solid #4F000B 2px;
    padding: 5px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.art-grid__element li{
    list-style: none;
}
.art-grid__element a, .art-grid__element a:focus, .art-grid__element a:active{
    text-decoration: none;
    color: black;
}

.art__body {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.art__theme {
    font-style: bold;
    color:#FF715B;
}

/* styles article.html */
.article {
    width: 50%;
    margin: auto;
}

.article__title{
    margin: 1em 0px;
}

.article__elt {
    font-size: 10px;
    color: #FF715B;
    padding: 0px;
    margin: 0px;
}

.article__body {
    text-align: justify;
}
