<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cats blog</title>
  <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}" type="image/x-icon">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <img class="logo__img" src="{{ url_for('static', filename='logo.svg') }}" alt="logo">
      <h1 class="logo__title">Cats blog</h1>
    </div>
    <nav>
        <ul class="ref">
          <li class="ref__line"><a href="{{ url_for('index') }}" class="ref__line__link">Accueil</a></li>
            <!-- Ajoutez d'autres liens de navigation selon vos besoins -->
            {% if current_user.is_authenticated %}
            <li class="ref__line"><a href="{{ url_for('logout') }}" class="ref__line__link">Logout</a></li>
            {% else %}
            <li class="ref__line"><a href="{{ url_for('login') }}" class="ref__line__link">Login</a></li>
            {% endif %}
        </ul>
    </nav>
  </header>
  <main>
      {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 Cats Blog</p>
  </footer>
</body>
</html>