{% extends "base.html" %}

{% block content %}
  <h2>Filtrer par thème </h2>
  <ul class="art-link">
      <li><a href="{{ url_for('index') }}" class="art-link__link">Tous les articles</a></li>
      <li><a href="{{ url_for('index', theme='nourriture') }}" class="art-link__link">Nourriture</a></li>
      <li><a href="{{ url_for('index', theme='race') }}" class="art-link__link">Race</a></li>
      <li><a href="{{ url_for('index', theme='jeux') }}" class="art-link__link">Jeux</a></li>
  </ul>
  <h2>Articles</h2>
  <ul class="art-grid">
    <div class="art-grid__cpt">
      {% if articles %}
        {% for article in articles %}
          <div class="art-grid__element">
            <li><a href="{{ url_for('article', id=article.id) }}">
              <h3 class="art__title">{{ article.title }}</h3>
              <em class="art__theme">{{ article.theme }}</em>
              <p class="art__body">{{ article.body}}</p>
            </a></li>
          </div>
        {% endfor %}
      {% else %}
        <li>No articles found</li>
      {% endif %}
    </div>
  </ul>
{% endblock %}
